@import "tailwindcss";

.gris {
  color: #757575;
}

.grid-expand {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  padding-top: 1rem;
  padding: 1rem;
}

.active{
  color: #e7b110;
  font-weight: bold;
}